{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="staff-login-panel">
    <h2>Вход для диетсестры</h2>

    <div style="text-align: center; margin-bottom: 24px;">
        <a href="{% url 'landing' %}" 
        style="display: inline-block; padding: 12px 24px; font-size: 20px; text-decoration: none; color: #fff; background-color: #6c757d; border-radius: 8px; font-weight: bold;">
             Вернуться на главную страницу
        </a>
    </div>

    <form method="post" class="staff-login">
        {% csrf_token %}

        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>

        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
        </p>

        <button type="submit">Войти</button>
    </form>
</div>
{% endblock %}